<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess Puzzler</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chessboard-js/1.0.0/chessboard-1.0.0.min.css">
</head>

<body>
    <div class="container">
        <div class="form">
            <h1>Get a Chess Puzzle by Rating (400-3400)</h1>
            <form id="puzzle-form">
                <input type="number" id="min-rating" placeholder="Min Rating" required>
                <input type="number" id="max-rating" placeholder="Max Rating" required>
                <button id="puzzle-btn" type="submit">Get Puzzle</button>
            </form>
            <button id="reset" class="hidden">Reset Puzzle</button>
            <button id="analyseL" class="hidden">Analyse Puzzle on Lichess</button>
            <button id="analyseC" class="hidden">Analyse Puzzle on Chess.com</button>
        </div>

        <div class="puzzle">
            <div id="message"></div>
            <div id="board" class="hidden"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chessboard-js/1.0.0/chessboard-1.0.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>